@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;

  --color-secondary: #0f172a;

  --color-background: #f8fafc;

  --color-surface: #ffffff;

  --color-text-primary: #0f172a;

  --color-text-secondary: #475569;

  --color-border: #e2e8f0;

  --color-success: #22c55e;

  --color-warning: #f59e0b;

  --color-danger: #ef4444;
}
